<%- include("./includes/header.ejs", {title: title}); %>

    <h1><b><%= title %></b></h1>
    <h2><b>Welcome to <%= title %></b></h2>
    <a href="/all/company">Companies - View All</a> <br>
    <a href="/all/address">Addresses - View All</a> <br>
    <a href="/all/account">Accounts - View All</a> <br>
    <a href="/all/school">Schools - View All</a> <br>
    <a href="/all/skill">Skills - View All</a> <br>
    <a href="/all/resume">Resume - View All</a> <br>

<%- include("./includes/footer.ejs"); %>
